.shop {
	padding: 60px 0;
}
.shop__top-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.shop__filters {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;
}
.shop__top-group input {
	padding-left: 32px;
	background-image: url('/images/search.svg');
	background-repeat: no-repeat;
	background-position: 4% 50%;
}
.shop__content {
	padding-bottom: 80px;
	border-bottom: 1px solid #2d1e1e;
}
.shop__content-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 450px;
}
.shop__content-empty {
	font-size: 30px;
	padding: 20px;
	min-height: 400px;
}