@import 'reset';

#app {
	height: 100%;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
}
a:hover {
	text-decoration: underline;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
	background-color: #6889A5;
}
.container {
	width: 1168px;
	margin: 0 auto;
}
.main-collection,
.main-cart {
	flex: 1 1 auto;
	background-color: #fff;
}
.title {
	font-size: 48px;
}
input[type="text"],
select {
	min-height: 36px;
	min-width: 250px;
	padding: 8px 10px;
	border: 1px solid #aaaaaa;
	border-radius: 6px;
	outline: none;
}
.btn {
	font-size: 18px;
	padding: 12px 24px;
	color: #fff;
	background-color: #6889a5;
}
.btn:hover {
	background-color: #536a7a;
}
.no-wrap {
	white-space: nowrap;
}